<header class="text-center md:text-left pt-[100px]">
    <div class="relative inline-block md:block">
        <picture class="inline-block">
            <source 
                srcset="{{ url_for('static', filename='images/bryce-thompson.webp') }}" 
                type="image/webp"
            >
            <img 
                src="{{ url_for('static', filename='images/bryce-thompson.webp') }}" 
                alt="Profile Picture" 
                class="w-24 h-24 rounded-full mb-8"
                loading="lazy"
            >
        </picture>
        <!-- Comment out the play button
        <button id="play-welcome" class="absolute bottom-8 right-0 bg-blue-600 hover:bg-blue-700 text-white rounded-full p-2 shadow-lg transition-all">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072M17.95 6.05a8 8 0 010 11.9M6.343 17.657l-1.414-1.414a8 8 0 010-11.314l1.414-1.414m2.828 2.828l-1.414-1.414a5 5 0 010-7.072l1.414-1.414M13 12V7l4 5-4 5v-5z" />
            </svg>
        </button>
        -->
    </div>
    <h1 class="text-[2rem] md:text-[4rem] leading-tight mb-4">Hello, I'm Bryce</h1>
    <p class="text-gray-600 dark:text-gray-400 max-w-2xl text-[0.9rem] md:mx-0 mx-auto">
        I'm a lead product designer in Austin, TX helping your health, marketplace, or B2B company ship innovative experiences for your customers.
    </p>
</header> 